@model IEnumerable<RenderPartialDemo.Models.Greeting>
@using RenderPartialDemo.Models

<ul id="greetings-list" class="list-group">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            @Html.Partial("_Greeting", item, new ViewDataDictionary<Greeting>());
        }
    }
    else
    {
        <li class="list-group-item list-group-item-warning"><p class="list-group-item-text"><em>No greetings found. Say hello to someone!</em></p></li>
    }

</ul>


