@model RenderPartialDemo.Models.Greeting

@{ 
    string context = String.Empty;

    if (Model.DateProcessed.HasValue)
    {
        context = "success";
    }
    else
    {
        context = "info";
    }
}

@if (Model != null)
{
    <li id="greeting-@Model.Id" class="list-group-item list-group-item-@context">
        <h4 class="list-group-item-heading">You said hello to @(Model.FirstName)</h4>
        @if (!String.IsNullOrEmpty(Model.RawHtml))
        {
            <pre>@Model.RawHtml</pre>
            <p class="list-group-item-text">Rendered on: @(Model.DateProcessed)</p>
        }
        else
        {
            <p class="list-group-item-text">Greeting has not yet been rendered</p>
        }
    </li>
}


